body{
    background-color: gray;
}
.navbar{ /* Cor do menu de  navegação */
    background-color: gray;
}

.imagem{
 margin-bottom: 10px;
 border-radius: 50%;

}
.home{
    text-align: center;
}
.mod{  /* Cor da navegação */
    color: red;  
    
}
.margin{
    padding-top: 50px;
    padding-bottom: 10px;
}

.bg-footer{
    background-color: #FE2E2E;
    color:black;
}